@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;700&display=swap');
@import 'tailwindcss';
html {
  font-family: 'JetBrains Mono', monospace;
}
@theme {
  --color-dark-blue: rgb(27, 60, 83);
  --color-middle-blue: rgb(35, 76, 106);
  --color-light-blue: rgb(69, 104, 130);
  --color-dark-brown: rgb(210, 193, 182);
  --color-spotify-green: rgb(30, 215, 96);
}
